
.bod{
    width: 100%;
    min-height: 100vh;
}
.re{
    text-decoration: underline;
    text-align: end;
    text-decoration-color: #7876ea;
    border: 5px solid #12ef0efd;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: larger;
    
}
.link{
    border: 5px solid #c90eef;
    padding: 6px 25px;
    border-radius: 10px;
    margin-right: 3px;
    transition-delay: 2s;
    align-items: center;
    
}
.li{

    border: 5px solid #004410fd;
    padding: 6px 25px;
    border-radius: 10px;
    margin-right: 3px;
    
    align-items: center;
    
}
.l{

    border: 5px solid #120eef;
    padding: 6px 25px;
    border-radius: 10px;
    margin-right: 3px;
    
    align-items: center;
    
}
.lik{

    border: 5px solid #39026c;
    padding: 6px 25px;
    border-radius: 10px;
    margin-right: 3px;
    
    align-items: center;
    
}
.likwe{

    border: 5px solid #efef0e;
    padding: 6px 25px;
    border-radius: 10px;
    margin-right: 3px;
    
    align-items: center;
    
}
.bts
{
    border: 5px solid #0fb451;
    padding: 6px 25px;
    border-radius: 10px
}
.photo{
    width: 18%;
    margin: left 20px;
    text-align: left;

}

.container{

    border: 5px solid #f68504;
    padding: 50px 25px;
    border-radius: 50px;
    
    margin-right: 3px;
    transition: bottom 1s;
}
.container:hover .o
{
    bottom: 40px;
}
.p{
    border: 5px #efef0e;
    border-radius: 30px;
    
    width:30%;
    align-self: first baseline;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.de
{
    
    text-decoration: underline;
    text-align: left;
    text-decoration-color: #7876ea;
    border: 5px solid #12ef0efd;
    padding: 10px 5px;
    border-radius: 6px;
    font-size: larger;
    
}
.d{
    color: rgb(232, 236, 32); 
    text-decoration: underline; 
    text-align: left;
   
    border: 5px solid #12ef0efd;
    padding: 8px 1px;
    margin-right: 1150px;
    margin-top: 2px;
    border-radius: 6px;
    font-size: larger;
}
form{
    width: 90%;
    max-width: 600px;
    border: 5px solid #efdc0efd;
    padding: 8px 30px;

}
.i{
   
    margin-left: 600px;

}
input,textarea{
        width: 100%;
        padding:10px;
        outline: 0;
        margin-right: 100px;
        border: 1px crimson;
        color: #e3f213;
        background: #0fb451;
        font-size: 15px;
}
